.loading {
  width: 76px;
  height: 76px;
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-animation: loading 2s steps(1) infinite;
  animation: loading 2s steps(1) infinite; }

@-webkit-keyframes loading {
  0% {
    background-position: 0px 0; }
  1% {
    background-position: -76px 0; }
  2% {
    background-position: -152px 0; }
  3% {
    background-position: -228px 0; }
  4% {
    background-position: -304px 0; }
  5% {
    background-position: -380px 0; }
  6% {
    background-position: -456px 0; }
  7% {
    background-position: -532px 0; }
  8% {
    background-position: -608px 0; }
  9% {
    background-position: -684px 0; }
  10% {
    background-position: -760px 0; }
  11% {
    background-position: -836px 0; }
  12% {
    background-position: -912px 0; }
  13% {
    background-position: -988px 0; }
  14% {
    background-position: -1064px 0; }
  15% {
    background-position: -1140px 0; }
  16% {
    background-position: -1216px 0; }
  17% {
    background-position: -1292px 0; }
  18% {
    background-position: -1368px 0; }
  19% {
    background-position: -1444px 0; }
  20% {
    background-position: -1520px 0; }
  21% {
    background-position: -1596px 0; }
  22% {
    background-position: -1672px 0; }
  23% {
    background-position: -1748px 0; }
  24% {
    background-position: -1824px 0; }
  25% {
    background-position: -1900px 0; }
  26% {
    background-position: -1976px 0; }
  27% {
    background-position: -2052px 0; }
  28% {
    background-position: -2128px 0; }
  29% {
    background-position: -2204px 0; }
  30% {
    background-position: -2280px 0; }
  31% {
    background-position: -2356px 0; }
  32% {
    background-position: -2432px 0; }
  33% {
    background-position: -2508px 0; }
  34% {
    background-position: -2584px 0; }
  35% {
    background-position: -2660px 0; }
  36% {
    background-position: -2736px 0; }
  37% {
    background-position: -2812px 0; }
  38% {
    background-position: -2888px 0; }
  39% {
    background-position: -2964px 0; }
  40% {
    background-position: -3040px 0; }
  41% {
    background-position: -3116px 0; }
  42% {
    background-position: -3192px 0; }
  43% {
    background-position: -3268px 0; }
  44% {
    background-position: -3344px 0; }
  45% {
    background-position: -3420px 0; }
  46% {
    background-position: -3496px 0; }
  47% {
    background-position: -3572px 0; }
  48% {
    background-position: -3648px 0; }
  49% {
    background-position: -3724px 0; }
  50% {
    background-position: -3800px 0; }
  51% {
    background-position: -3876px 0; }
  52% {
    background-position: -3952px 0; }
  53% {
    background-position: -4028px 0; }
  54% {
    background-position: -4104px 0; }
  55% {
    background-position: -4180px 0; }
  56% {
    background-position: -4256px 0; }
  57% {
    background-position: -4332px 0; }
  58% {
    background-position: -4408px 0; }
  59% {
    background-position: -4484px 0; }
  60% {
    background-position: -4560px 0; }
  61% {
    background-position: -4636px 0; }
  62% {
    background-position: -4712px 0; }
  63% {
    background-position: -4788px 0; }
  64% {
    background-position: -4864px 0; }
  65% {
    background-position: -4940px 0; }
  66% {
    background-position: -5016px 0; }
  67% {
    background-position: -5092px 0; }
  68% {
    background-position: -5168px 0; }
  69% {
    background-position: -5244px 0; }
  70% {
    background-position: -5320px 0; }
  71% {
    background-position: -5396px 0; }
  72% {
    background-position: -5472px 0; }
  73% {
    background-position: -5548px 0; }
  74% {
    background-position: -5624px 0; }
  75% {
    background-position: -5700px 0; }
  76% {
    background-position: -5776px 0; }
  77% {
    background-position: -5852px 0; }
  78% {
    background-position: -5928px 0; }
  79% {
    background-position: -6004px 0; }
  80% {
    background-position: -6080px 0; }
  81% {
    background-position: -6156px 0; }
  82% {
    background-position: -6232px 0; }
  83% {
    background-position: -6308px 0; }
  84% {
    background-position: -6384px 0; }
  85% {
    background-position: -6460px 0; }
  86% {
    background-position: -6536px 0; }
  87% {
    background-position: -6612px 0; }
  88% {
    background-position: -6688px 0; }
  89% {
    background-position: -6764px 0; }
  90% {
    background-position: -6840px 0; }
  91% {
    background-position: -6916px 0; }
  92% {
    background-position: -6992px 0; }
  93% {
    background-position: -7068px 0; }
  94% {
    background-position: -7144px 0; }
  95% {
    background-position: -7220px 0; }
  96% {
    background-position: -7296px 0; }
  97% {
    background-position: -7372px 0; }
  98% {
    background-position: -7448px 0; }
  99% {
    background-position: -7524px 0; }
  100% {
    background-position: -7600px 0; } }
@keyframes loading {
  0% {
    background-position: 0px 0; }
  1% {
    background-position: -76px 0; }
  2% {
    background-position: -152px 0; }
  3% {
    background-position: -228px 0; }
  4% {
    background-position: -304px 0; }
  5% {
    background-position: -380px 0; }
  6% {
    background-position: -456px 0; }
  7% {
    background-position: -532px 0; }
  8% {
    background-position: -608px 0; }
  9% {
    background-position: -684px 0; }
  10% {
    background-position: -760px 0; }
  11% {
    background-position: -836px 0; }
  12% {
    background-position: -912px 0; }
  13% {
    background-position: -988px 0; }
  14% {
    background-position: -1064px 0; }
  15% {
    background-position: -1140px 0; }
  16% {
    background-position: -1216px 0; }
  17% {
    background-position: -1292px 0; }
  18% {
    background-position: -1368px 0; }
  19% {
    background-position: -1444px 0; }
  20% {
    background-position: -1520px 0; }
  21% {
    background-position: -1596px 0; }
  22% {
    background-position: -1672px 0; }
  23% {
    background-position: -1748px 0; }
  24% {
    background-position: -1824px 0; }
  25% {
    background-position: -1900px 0; }
  26% {
    background-position: -1976px 0; }
  27% {
    background-position: -2052px 0; }
  28% {
    background-position: -2128px 0; }
  29% {
    background-position: -2204px 0; }
  30% {
    background-position: -2280px 0; }
  31% {
    background-position: -2356px 0; }
  32% {
    background-position: -2432px 0; }
  33% {
    background-position: -2508px 0; }
  34% {
    background-position: -2584px 0; }
  35% {
    background-position: -2660px 0; }
  36% {
    background-position: -2736px 0; }
  37% {
    background-position: -2812px 0; }
  38% {
    background-position: -2888px 0; }
  39% {
    background-position: -2964px 0; }
  40% {
    background-position: -3040px 0; }
  41% {
    background-position: -3116px 0; }
  42% {
    background-position: -3192px 0; }
  43% {
    background-position: -3268px 0; }
  44% {
    background-position: -3344px 0; }
  45% {
    background-position: -3420px 0; }
  46% {
    background-position: -3496px 0; }
  47% {
    background-position: -3572px 0; }
  48% {
    background-position: -3648px 0; }
  49% {
    background-position: -3724px 0; }
  50% {
    background-position: -3800px 0; }
  51% {
    background-position: -3876px 0; }
  52% {
    background-position: -3952px 0; }
  53% {
    background-position: -4028px 0; }
  54% {
    background-position: -4104px 0; }
  55% {
    background-position: -4180px 0; }
  56% {
    background-position: -4256px 0; }
  57% {
    background-position: -4332px 0; }
  58% {
    background-position: -4408px 0; }
  59% {
    background-position: -4484px 0; }
  60% {
    background-position: -4560px 0; }
  61% {
    background-position: -4636px 0; }
  62% {
    background-position: -4712px 0; }
  63% {
    background-position: -4788px 0; }
  64% {
    background-position: -4864px 0; }
  65% {
    background-position: -4940px 0; }
  66% {
    background-position: -5016px 0; }
  67% {
    background-position: -5092px 0; }
  68% {
    background-position: -5168px 0; }
  69% {
    background-position: -5244px 0; }
  70% {
    background-position: -5320px 0; }
  71% {
    background-position: -5396px 0; }
  72% {
    background-position: -5472px 0; }
  73% {
    background-position: -5548px 0; }
  74% {
    background-position: -5624px 0; }
  75% {
    background-position: -5700px 0; }
  76% {
    background-position: -5776px 0; }
  77% {
    background-position: -5852px 0; }
  78% {
    background-position: -5928px 0; }
  79% {
    background-position: -6004px 0; }
  80% {
    background-position: -6080px 0; }
  81% {
    background-position: -6156px 0; }
  82% {
    background-position: -6232px 0; }
  83% {
    background-position: -6308px 0; }
  84% {
    background-position: -6384px 0; }
  85% {
    background-position: -6460px 0; }
  86% {
    background-position: -6536px 0; }
  87% {
    background-position: -6612px 0; }
  88% {
    background-position: -6688px 0; }
  89% {
    background-position: -6764px 0; }
  90% {
    background-position: -6840px 0; }
  91% {
    background-position: -6916px 0; }
  92% {
    background-position: -6992px 0; }
  93% {
    background-position: -7068px 0; }
  94% {
    background-position: -7144px 0; }
  95% {
    background-position: -7220px 0; }
  96% {
    background-position: -7296px 0; }
  97% {
    background-position: -7372px 0; }
  98% {
    background-position: -7448px 0; }
  99% {
    background-position: -7524px 0; }
  100% {
    background-position: -7600px 0; } }

/*# sourceMappingURL=style.css.map */
